<? $contact = $config['contact'] ?>
<div class="modal clearfix" id="contact-page" style="display:none">
		<div class="intro">
			<h1><?= $contact['intro-title'] ?></h1>
			<div><?= $contact['intro-text'] ?></div>
		</div>
		
		<div class="switcher lp-slider lp-vertical-slider">
			<form action="/message" method="post" class="slide lp-slide">
				<fieldset class="clearfix">
					<legend><?= $contact['form-title'] ?></legend>
					<input type="text" placeholder="<?= $contact['form-email'] ?>" name="email" value="">
					<input type="text" placeholder="<?= $contact['form-subject'] ?>" name="subject" value="">
					<textarea name="message" placeholder="<?= $contact['form-message'] ?>"></textarea>
					<label for="some_math" id="ham-protection"><?= $contact['form-spam'] ?></label>
					<input type="text" class="math" name="ham" id="some_math" value="">
					<label class="private"><input type="checkbox" name="private" value="1"> <span><?= $contact['form-private'] ?></span></label>
				
					<a href="#" class="button"><?= $contact['form-send'] ?></a>
				</fieldset>
			</form>
			<div class="submitting slide lp-slide" style="display:none; padding-top: 1px"><h1><?= $contact['working'] ?></h1></div>
			<div class="thanks slide lp-slide" style="display:none; margin-top: -1px">
				<h1><?= $contact['sent-title'] ?></h1>
				<div><?= $contact['sent-text'] ?></div>
			</div>
		</div>
	</div>
