	<div class="modal special-modal" id="download-page" style="display:none">
		<h1>THANK YOU VERY MUCH,<br>WE REALLY APPRECIATE IT!</h1>
		
		<div>
		With your donation you're really helping us and our work at GPGTools,
		since we all try to find as much time as possible between our paid jobs
		to work on more interesting projects for you and us.
		</div>
		
		<div class="tool-logo">
			<img style="display:none" class="gpgmail" src="images/download/gpgmail-logo.png" width="151" height="80" alt="GPGMail Logo">
			<img style="display:none" class="gpgtools" src="images/download/gpgtools-logo.png" alt="GPGTools Logo" width="145" height="80" />
			<img style="display:none" class="gka" src="images/download/gka-logo.png" alt="GPG Keychain Access Logo" width="151" height="78" />
			<img style="display:none" class="macgpg" src="images/download/macgpg-logo.png" alt="MacGPG Logo" width="160" height="80" />
			<img style="display:none" class="gpgservices" src="images/download/gpgservices-logo.png" alt="MacGPG Logo" width="170" height="80" />
		</div>
		
		<a href="#download" class="button">Download</a>
	</div>
