<? $texts = $config['hash-verification'] ?>
<div class="modal clearfix hash-verification signature-verification-page" id="hash-verification-page" style="display:none">
	<div class="intro">
		<h1><?= $texts['title'] ?></h1>
		<div><?= $texts['text'] ?></div>
		<ul class="steps">
			<? $number=0; foreach ($texts['steps'] as $step): $number++ ?>
			<li>
				<a class="clearfix" href="#">
					<span class="step-nr"><?= $number ?></span>
					<p><?= $step['title'] ?></p>
				</a>
			</li>
			<? endforeach ?>
		</ul>
		<h1 class="special"><?= $texts['footer'] ?></h1>
	</div>
	
	<div class="preview-screenshot">
		<div class="switcher">
			<!-- TODO: Automatisch richtiges Bild für den ausgewählten Schritt anzeigen. -->
			<div class="panel"><img src="images/verification/<?= $texts['steps'][3][image] ?>" alt="step-4" width="300" height="327" /></div>
		</div>
		<p><?= $texts['image-subline'] ?></p>
	</div>
</div>
