	<div class="modal" id="news-page" style="display:none">
		<h1>GPGTools</h1>
		
		<hgroup>
			<h2>Let's Keep This Rolling Together!</h2>
			<h3><time datetime="">August 3rd, 2012</time></h3>
		</hgroup>
		
		<div class="content long clearfix">
			<div class="left">
				<h4>Mountain Lion</h4>
				
				<p>Yes, we've heard it's been release. We are actually using it. And we've seen the incompatibility message that mail.app spits out regarding GPGMail.So, when is Mountain Lion support coming? The honest answer is: We don't know. Sandboxing requires a few changes to be made to GPGMail and before we come to that, there is another item above that on our priority list. And some more messages to make this longer.</p>
				
				<h4>GPGMail 2.0</h4>
				
				<p>We've had alphas of GPGMail 2 for a while now. The latest official release was GPGMail 2.0a30. We are today officially releasing a beta: GPGMail 2.0b5. It is a free download, but donations are recommended and very welcome. The more income we have via GPGTools the more time we can invest into this beloved project.</p>
				
				<h5>Known Issues</h5>
				
				<ul>
					<li>* missing setting to set default encryption / signing</li>
					<li>* bug where the senders mail address ends up in bcc: and thus the sender receives the sent mail in his inbox</li>
				</ul>			
			
				<h4>Funding</h4>
				
				<p>GPGTools is a spare time project. And only two of the four core-team members are currently working on it. The other two will return for sure but for the time being, GPGTools has a long to-do list and we need to prioritize in order to move things forward.</p>
				
				<p>We are investigating options to ensure funding for GPGTools. An application for a funding is underway, but we have yet to hear back from that. Kickstarter is not an option, since all core-team members are from Europe and an US banking account is required. Right now donations are the easiest way to deal with that situation.</p>
			</div>
			
			<div class="right">
				<h4>Workarounds</h4>
				<p>We know many of you rely on GPGTools and we do so ourselves. So we hate when things break just as much as you do. If you need to keeps things running here are two workaround suggestions:</p>
				
				<ul>
					<li>
						<h5>1) GPG Services</h5>
						<p>We enabled GPGServices use in Mail.app. Meaning you can now encrypt and decrypt right in the mail window. Not beautiful, but works.</p>
					</li>
					<li>
						<h5>2) Known Issues Thunderbird and Enigmail</h5>
						<p>Install the latest Thunderbird and Enigmail add-on. Not beautiful, but works.</p>
					</li>
				</ul>
				
				<h4>Summing things up:</h4>
				
				<ul>
					<li>Top Priority: GPGMail 2.0 final for 10.7</li>
					<li>Next up: 10.8 compatibility</li>
				</ul>
				
				
				<div class="shoutout">Let's keep this rolling together!</div>
				
				<div class="closing">All the best and looking forward to some sweet releases,<br>Steve, on behalf of the GPGTools team
				</div>
			</div>
		</div>
	</div>