<? $texts = $config['signature-verification'] ?>
<div class="modal clearfix signature-verification-page" id="signature-verification-page" style="display:none">
	<div class="intro">
		<h1><?= $texts['title'] ?></h1>
		<div><?= $texts['text'] ?></div>
		<ul class="steps">
			<? $number=0; foreach ($texts['steps'] as $step): $number++ ?>
			<li>
				<a class="verification-step-link clearfix" href="#signature-verification<?= $number ?>">
					<span class="step-nr"><?= $number ?></span>
					<p><?= $step['title'] ?></p>
				</a>
			</li>
			<? endforeach ?>
		</ul>
		<h1 class="special"><?= $texts['footer'] ?></h1>
	</div>
	
	<div class="preview-screenshot">
		<div class="switcher">
			
			<div class="panel">
				<img class="verification-image current-image" src="images/verification/<?= $texts['steps']['0']['small-image'] ?>" alt="" width="590" height="280" />
				<img class="verification-image" src="" alt="" width="590" height="280" />
				
				<div class="placeholder" style=" width:590; height:280px;" />

				<script>
					var signature_verification_images=new Array(""<?
						foreach ($texts['steps'] as $step)
							echo ',"images/verification/' . $step['image'] . '"';
					?>)
					var signature_verification_small_images=new Array(""<?
						foreach ($texts['steps'] as $step)
							echo ',"images/verification/' . $step['small-image'] . '"';
					?>)
				</script>
			</div>
			
		</div>
	</div>
</div>
