<ul class="minor-features clearfix">
    <?
	$positions = array(24, 118, 209, 301);
	$minor_features = $section->get('minor-features', array());
	foreach($minor_features as $name):
		$text = $config['minor-features'][$name]["text"];
		$image = $config['minor-features'][$name]["image"];
	?>
		<li data-arrow-position="<?= $positions[$minor_features->index()] ?>">
			<a href="#" style="background-image: url('images/subfeatures/<?= $image ?>');">
				&nbsp;<span><?= $text ?></span>
			</a>
		</li>
    <? endforeach ?>
</ul>