<nav class="top clearfix">
    <ul>
        <li><a href="#donate" class="donate">Donate</a></li>
        <li><a href="http://support.gpgtools.org" class="support">Support</a></li>
        <li><a href="#friends" class="friends">Friends</a></li>
        <li><a href="http://twitter.com/gpgtools" class="support"><img src="images/twitter-bird.png" width="22" height="16" alt="GPGTools on Twitter"></a></li>
        <li class="special"><a href="#contact">Contact</a></li>
        <li class="special"><a class="team" href="#team">Team</a></li>
    </ul>
</nav>