<section class="<?= short_name($section) ?> tool" id="<?= short_name($section) ?>" data-name="<?= short_name($section) ?>" data-version="<?= current_version($section) ?>">
      <div class="divider">&nbsp;</div>
      <div class="container no-announcement">
        <header class="clearfix">
          <? if($section['version-info']['is-new-version']): ?>
          <div class="new-badge">NEW<br><span><?= $section['version-info']['current-version'] ?></span></div>
          <? endif ?>
          <div class="title-screenshots clearfix">
	        <hgroup>
	          <h1><?= $section['tool-name'] ?></h1>
	          <h2><strong><?= $section['title'] ?></strong><br><?= $section['subtitle'] ?></h2>
	        </hgroup>
	        <div class="screenshots">
	          <a href="#gpgmail-screenshots" class="open-screenshots"><img src="images/section/gpgmail-screenshot-preview-v3.png" width="136" height="120" alt="Open GPGMail Screenshots"></a>
	        </div>
          </div>
          <div class="minor-features-download clearfix">
          	<?= render_view("_minor-features", array("section" => $section, "config" => $config)) ?>
          	<div class="download">
              <a href="#" class="gpgmail-download action-button gpgtools-download versions-tip"><span>Download</span></a>
              <div class="versions-panel special-modal" style="display: none" id="gpgmail-versions">
                <h1>Version Info</h1>
                <ul class="nav clearfix">
                  <li>Version 2.0 <span>&bull;</span></li>
                  <li><a href="#release-notes">Release Notes</a> <span>&bull;</span></li>
                  <li><a href="#older-versions">Older Versions</a></li>
                </ul>
                
                <a class="verification-button hash" href="#">cce665b098ec7cc747d3a2995f9c06be15ad6525</a>
                
                <a class="verification-button signature-file" href="#">PGP Signature</a>
                
                <ul class="clearfix versions" style="display:none">
                  <li class="version-106"><a href="#">OS X<br><span>10.6</span></a></li>
                  <li class="version-105"><a href="#">OS X<br><span>10.5</span></a></li>
                  <li class="version-104"><a href="#">OS X<br><span>10.4</span></a></li>
                  <li class="version-103"><a href="#">OS X<br><span>10.3</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="feature-info">
            <span class="arrow" style="display: none"></span>
            <div class="bar">&nbsp;</div>
            <div class="description">&nbsp;</div>
          </div>
        </header>
        <ul class="clearfix features">
          <? if(isset($section['features'])): 
            foreach($section['features'] as $column): ?>
            <li class="one-column">
            <? foreach($column as $feature): ?>
              <h3><?= $feature['title'] ?></h3>
              <p><?= $feature['content'] ?></p>
            <? endforeach ?>  
            </li>
          <? endforeach; endif; ?>
        </ul>
      </div>
</section>