    <section class="main" id="gpgtools" data-name="gpgtools" data-version="1.2">
      <div class="wrapper">
	      <div class="container">
	        <header class="clearfix">
	          <a href="http://www.allafine.com" class="allafine">Allafine</a>
	          <?= render_view("_navigation", $_params) ?>
	          <hgroup>
	            <h1><?= $config['introduction']['title'] ?></h1>
	            <h2><strong><?= $config['introduction']['strong'] ?></strong> <?= $config['introduction']['normal'] ?></h2>
	          </hgroup>
	          <ul class="important-buttons clearfix">
	            <li><div class="download"><a href="#" class="gpgtools-download action-button"><span><?= $config['introduction']['download-all-button'] ?></span></a></div></li>
	            <li><a class="gpgtools-getting-started action-button" href="http://support.gpgtools.org/kb/how-to/first-steps-where-do-i-start-where-do-i-begin"><span><?= $config['introduction']['getting-started-button'] ?></span></a></li>
	          </ul>
	        </header>
	        <nav class="sections">
	          <ul class="clearfix">
	            <li class="gpgmail one-column">
	              <a href="#gpgmail">
	              	<hgroup>
	                  <h3 class="clearfix"><?= $config['sections']['gpgmail']['tool-name'] ?></h3>
	                  <h4><?= $config['sections']['gpgmail']['main-section-intro'] ?></h4>
	              	</hgroup>
	              </a>
	            </li>
	            <li class="gka one-column">
	              <a href="#gka">
	                <hgroup>
	                  <h3 class="clearfix"><?= $config['sections']['gka']['tool-name'] ?></h3>
	                  <h4><?= $config['sections']['gka']['main-section-intro'] ?></h4>
	                </hgroup>
	              </a>
	            </li>
	            <li class="gpg one-column">
	              <a href="#macgpg">
	                <hgroup>
	                  <h3 class="clearfix"><?= $config['sections']['macgpg']['tool-name'] ?></h3>
	                  <h4><?= $config['sections']['macgpg']['main-section-intro'] ?></h4>
	                </hgroup>
	              </a>
	            </li>
	            <li class="gpgservices one-column">
	              <a href="#gpgservices">
	                <hgroup>
	                  <h3 class="clearfix"><?= $config['sections']['gpgservices']['tool-name'] ?></h3>
	                  <h4><?= $config['sections']['gpgservices']['main-section-intro'] ?></h4>
	                </hgroup>
	              </a>
	            </li>
	          </ul>
	        </nav>
	      </div>
      </div>
    </section>