<? $texts = $config['ios'] ?>
<base-view href="mini-site.html" />

<link rel="stylesheet" href="css/ios.css" media="all" fill="#main-style" method="replace" />

<div fill="[role=main]" method="append-children">
	<div id="ios-page">
		<div class="container">
			<hgroup>
				<h1><?= $texts['title'] ?></h1>
				<h2><?= $texts['subtitle'] ?></h2>
			</hgroup>
			
			<div><?= $texts['text'] ?></div>
			
			<ul>
				<li class="app-store"><a href="itms-apps://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?media=software&term=OpenPGP"><?= $texts['store'] ?></a></li>
				<li class="twitter"><a class="clearfix" href="http://twitter.com/GPGTools"><span><?= $texts['follow'] ?></span> <span>Twitter</span></a></li>
			</ul>
		</div>
	</div>
</div>