<base-view href="mini-site.html" />

<link rel="stylesheet" href="css/ios.css" media="all" fill="#main-style" method="replace" />

<div fill="[role=main]" method="append-children">
	<div id="ios-page">
		<div class="container">
			<hgroup>
				<h1>GPGTools</h1>
				<h2>It's worth protecting what you love.</h2>
			</hgroup>
			
			<div>GPGTools is recently only available on OS X</div>
			
			<ul>
				<li class="app-store"><a href="itms-apps://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?media=software&term=OpenPGP">OpenPGP apps on the App Store</a></li>
				<li class="twitter"><a class="clearfix" href="http://twitter.com/GPGTools"><span>For updates follow us on</span> <span>Twitter</span></a></li>
			</ul>
		</div>
	</div>
</div>