<base-view href="release/release-notes-site.html" />

<div fill="[role=main]" method="append-children">
    <div class="sparkle-release-notes">
        <? foreach($versions as $version): ?>
        <div class="version" data-version="<?= $version["version"] ?>" data-build="<?= $version["build"] ?>" data-min-os="<?= !isset($version["sparkle"]["minOS"]) ? "10.6" : $version["sparkle"]["minOS"] ?>" <? if(isset($version["sparkle"]["maxOS"])): ?>data-max-os="<?= $version["sparkle"]["maxOS"] ?>"<? endif ?>>
            <h1 class="clearfix"><span>Version <?= $version["version"] ?> <? if((int) $version["build"]): ?><span class="build">(build <?= $version["build"] ?>)</span><? endif ?></span> <time datetime="<?= date("Y-m-d", $version["release_date"]) ?>"><?= date("F jS, Y", $version["release_date"]) ?></time></h1>
            
            <? if(get_class($version["info"]["features"]) == "LLSmartArray" && count($version["info"]["features"])): ?>
            <div class="features">
                <? foreach($version["info"]["features"] as $feature): ?>
                <div class="feature">
                    <? $feature_info = info_from_feature_line($feature) ?>
                    <h3><?= $feature_info["title"] ?></h3>
                    
                    <? if(is_array($feature_info["description"]) && count($feature_info["description"])): ?>
                    <ul>
                        <? foreach($feature_info["description"] as $description): ?>
                        <li><?= $description ?></li>
                        <? endforeach ?>
                    </ul>
                    <? endif ?>
                </div>
                <? endforeach ?>
            </div>
            <? endif ?>
            
            <? if(get_class($version["info"]["fixes"]) == "LLSmartArray" && count($version["info"]["fixes"])): ?>
            <div class="fixes">
                <h2>Bugfixes:</h2>
                
                <ul>
                    <? foreach($version["info"]["fixes"] as $fix): ?>
                    <li><?= $fix ?></li>
                    <? endforeach ?>
                </ul>
            </div>
            <? endif ?>
        </div>
        <? endforeach ?>
    </div>
</div>